/* header style */

*{
    margin: 0; 
    font-family: 'Poppins', sans-serif; 
}

.header{
    text-align: right;
    background-image: url(./images/banner/banner3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 808px;
}
.header-title{
    color: #fff;
    font-size: 65px;
    font-weight: 700; 
}
.header-description{
    color: #fff;
    font-size: 16px;
}
.header-div{
    padding-top: 200px;
    padding-right: 150px;
}
.btn-primary{
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin-top: 32px;
    padding: 22px;
}